html, body {
    height: 100%;
}

.giphyIMG {
    width: 100%;
    object-fit: scale-down;
    background-color: black
}

@media screen and (min-width: 576px) { 
    .giphyIMG {
        max-height: 40vw;
    }
}

@media screen and (min-width: 768px) {
    .giphyIMG {
        max-height: 20vw;
    }
}

@media screen and (min-width: 1200px) {
    .giphyIMG {
    max-height: 20vw;
    }
    .container {
        max-width: 1170px
    }
}
@media screen and (min-width: 1400px) {
    .container {
      max-width: 1270px;
    }
  }
  @media screen and (min-width: 1600px) {
    .giphyIMG {
      max-height: 15vw;
      }
    .container {
      max-width: 1470px;
    }
  }
  @media screen and (min-width: 1900px) {
    .container {
      max-width: 1770px;
    }
  }

  @media screen and (min-width: 2048px) {
    .giphyIMG {
      max-height: 10vw;
      }
    .container {
      max-width: 1870px;
    }
  }

  @media screen and (min-width: 3840px) {
    .giphyIMG {
      max-height: 5vw;
      }
    .container {
      max-width: 3670px;
    }
  }